<div id="uploader">
    <div class="page-header">
        <h1>Uploader</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>What?</h3>
            <p>Upload multiple files at the same time.</p>

            <div class="well">
                <div>
                    <div style="float:right;">
                        <button ng-click="vm.onUpload()">Upload</button>
                        <button ng-click="vm.onClean()">Remove all</button>
                    </div>
                    <!--<input type="file" id="file1" multiple/>-->
                    <input type="file" ng-model="vm.readFiles" file-read multiple/>
                </div>
                <div ng-repeat="file in vm.files" style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;">
                    <div>
                        <span>{{file.name}}</span>
                        <div style="float:right;">
                            <span>{{file.humanSize}}</span>
                            <a ng-click="vm.onRemove(file)" title="Remove from list to be uploaded"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <progress style="width:400px;" value="{{file.loaded ? file.loaded : 0}}" max="{{file.size}}"></progress>
                </div>
            </div>
        </div>
</div>